@import "./keyframes.css";
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

/* .material-icons {
  color: white;
} */
.page-icons {
  color: black;
}

.sidenav-trigger {
  color: #000000;
}
.parallax img {
  max-height: auto; /* or a little bit higher */
  width: 100%;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

.parallax-container {
  /* min-height: 100vh; */
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

  .nameHeader {
    text-shadow: -1px 1px 5px #ffffff;
  }

  .listLinks {
    font-size: 40px;
  }

  /* .skills-box {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 10px;
    display: inline-block;
    float: right;
  } */

  .brain{
    width: 95%;
    margin: auto;
    padding: 22px;
  }
  .skills-img:hover {
    transform: scale(1.2);
    animation: yourAnimation .4s 1 0s linear;
  }
  .skills-img{
    height: 240px;
    width: 240px;
    margin: auto;
  }

.far,
.fas {
  color: black;
  font-size: 50px;
}

.twitterContainer{
  border: 3px solid #2b7bb9;
  border-radius: 8px;
  margin: 0em 1em;
}

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }

  footer.page-footer {
    margin: 0;
  }

/* .skill-card-image {
  max-width: 250px;
} */
.skillCards {
  min-height: 32em;
}

.nashvilleParallax,
.spotifyParallax {
  margin-bottom: 1em;
}

.caseArticle {
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 2px 2px 9px #dedbdb;
  padding: 0.5em;

}

.caseFa {
  color: #95d4cc;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (min-width : 992px) {

}
@media only screen and (min-width : 800px) {
  .skills-box {
  width: 300px;
  }
.nashvilleParallax,
.spotifyParallax {
  height: 50em;
  margin-bottom: 0em;
}


  /* .bordBottom {
    border-bottom: 1px solid silver;
  }
  .bordSides {
    border-right: 1px solid silver;
    border-left: 1px solid silver;
  }
  .bordThree {
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
  } */
}